{% if customer %}
  <div role="status" {{ block.shopify_attributes }} class="price--msrp-map no-js-hidden 
    {% if product.vendor == 'Alhambra' %}{% unless customer.tags contains 'Alhambra' %} hidden{% endunless %}{% endif %}
      ">
      {% assign current_variant = product.selected_or_first_available_variant %}
      <div class="hide-price">
        {% if current_variant.metafields.dealer.MSRP.value != blank %}
        <div><span>MSRP: </span><span class="msrp">{{ current_variant.metafields.dealer.MSRP.value | times: 100 | money_with_currency }}</span></div>  
        {% endif %}
        {% if current_variant.metafields.dealer.MAP.value != blank %}
          <div><span>{% if product.vendor == 'Kun' %}MRP: {% else %}MAP: {% endif %}</span>
          <span class="map">{{ current_variant.metafields.dealer.MAP.value | times: 100 | money_with_currency }}</span></div>
        {% endif %}
      </div>
    </div>
{% endif %}
