<div class="no-js-hidden" role="status" {{ block.shopify_attributes }}>
  <div class="hideAll">
    <p><span>SKU: </span><span class="sku">{{ product.selected_or_first_available_variant.sku }}</span></p>       
  </div>
</div>