.quantity_container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.product__info-container {
  margin-bottom: 40px;
}

.product__description {
  margin-top: 40px;
}

.contact-link {
  text-decoration: underline;
  color: black;
}

.pricing-unavailable {
  border: 2px solid #911717;
  padding: 0 1em;
  margin: 2em 0 !important;
}

