{{ 'customer.css' | asset_url | stylesheet_tag }}
{{ 'bss-b2b-state.js' | asset_url | script_tag }}
<script id="bss-b2b-wholesaler-form">
    if (typeof BSS_B2B == 'undefined') {
      var BSS_B2B = {};
    }
    BSS_B2B.formDataRender = [];
    BSS_B2B.formId = 9141;
    BSS_B2B.reCAPCHA = 0;
    BSS_B2B.CAPCHA_SITE_KEY = "6LcYPEgbAAAAAKEQdimI1PPA4vuOJHxNb5p6eLUo";
    BSS_B2B.status = 1;
    BSS_B2B.created_account = 1;
    BSS_B2B.redirect_url = "/account";
    BSS_B2B.taxExempt = 0;
    </script>
	<style>null</style>
	
    {% assign bss-b2b-include-password = true %}
<div class="customer luthier register">
  <h1>{{ page.title }}</h1>
  <div class="rte">
    {{ page.content }}
  </div>
  <div>
  {% section 'bss-b2b-wholesaler-form-9141' %}
  </div>
</div>

